<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fm.Extensions.Logging.TestContext" version="1.2.0" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net452" />
  <package id="NUnit" version="3.8.1" targetFramework="net452" />
  <package id="NUnit.ConsoleRunner" version="3.7.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2Driver" version="3.6.0" targetFramework="net452" />
  <package id="NUnit.Extension.NUnitV2ResultWriter" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Extension.TeamCityEventListener" version="1.0.2" targetFramework="net452" />
  <package id="NUnit.Extension.VSProjectLoader" version="3.5.0" targetFramework="net452" />
  <package id="NUnit.Runners" version="3.7.0" targetFramework="net452" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.1.1" targetFramework="net452" />
  <package id="Selenium.Chrome.WebDriver" version="2.29" targetFramework="net452" />
  <package id="Selenium.Firefox.WebDriver" version="0.19.0" targetFramework="net452" />
  <package id="Selenium.Support" version="3.7.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.7.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.29.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.6.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.PhantomJS.Xplatform" version="2.45.0.1" targetFramework="net452" />
</packages>